Package: cpprestsdk
Version: 2.10.16-3
Architecture: x64-windows-static
Multi-Arch: same
Abi: 98dff9933252f7050cc2532586eb1e26e57d0a3a
Description: C++11 JSON, REST, and OAuth library
    The C++ REST SDK is a Microsoft project for cloud-based client-server communication in native code using a modern asynchronous C++ API design. This project aims to help C++ developers connect to and interact with services.
Type: Port
Default-Features: default-features

Package: cpprestsdk
Feature: brotli
Depends: brotli, cpprestsdk
Architecture: x64-windows-static
Multi-Arch: same
Description: Brotli compression support
Type: Port

Package: cpprestsdk
Feature: compression
Depends: zlib
Architecture: x64-windows-static
Multi-Arch: same
Description: HTTP Compression support
Type: Port

Package: cpprestsdk
Feature: default-features
Depends: cpprestsdk
Architecture: x64-windows-static
Multi-Arch: same
Description: Features installed by default
Type: Port
